<h1>Continents</h1>

<ul>
  <li>Europe</li>
  <li>Africa</li>
  <li>Asia</li>
  <li>North America</li>
  <li>South America</li>
  <li>Australlia</li>
  <li>Antarcica</li>
</ul>

<ul>
  <li><%= @continents%></li>
</ul>
