<h1>Continents</h1>

<div class="continent continent-container">
  <% for continent in @continents %>
  <div class="">
  <div class ="continent-tile">
    <img src="<%= continent.img  %>" alt="">
      <div class="continent-title">
        <a class ="button" href="/continents/<%= continent.id  %>"><%= continent.name%></a>
      </div>
    </div>
    </div>
  <% end %>
</div>
