<h1>Continents</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for continent in @continents %>
  <tr>
    <td><%= continent.name%></td>
    <td><a class ="button" href="/continents/<%= continent.id  %>">Show countries in <%=continent.name%></a></td>
  <% end %>
  </tr>
</table>
