<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <title>Bucket List</title>
</head>
<body>
  <nav>
    <ul>
      <h1>Your Bucket List</h1>
      <li><a href="/">Home</a></li>
      <li><a href="/continents">Show Continents</a></li>
      <li><a href="/countries">Show Countries</a></li>
      <li><a href="/cities">Show Cities</a></li>
      <li><a href="/cities/visited">Visited</a></li>
      <li><a href="/cities/to-visit">To Do</a></li>
      <li><a href="/attractions">Attractions</a></li>

    </ul>
  </nav>

  <%= yield %>
</body>
</html>
