<% if @search == nil %>
  <h2>Your search has not been found, please try again.</h2>
<% else %>
<h3><%=@search.class%></h3>
<a href="/<%= @class_type %>/<%= @search.id %>"><%=@search.name%></a>
<% end %>
