<div>
  <h2>Countries</h2>
  <a class="button" href="/countries/new">add country</a>
</div>


<table>
  <tr>
    <th>Country</th>
    <th>Cities</th>
  </tr>
  <tr>
    <% for country in @countries %>
    <td><a href="/countries/<%= country.id %>"><%= country.name %></a></td>
    <td>
      <% for city in country.view_cities%>
      <ul>
        <li><%= city.name %></li>
      </ul>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
