<div>
  <h1>Countries</h1>
  <a class="button" href="/countries/new">add country</a>
</div>

<div class="country container">
  <% for country in @countries %>
  <div class="country-tile">
    <h1><a href="/countries/<%= country.id %>"><%= country.name %></a></h1>
      <div class ="country-title">
        <% for city in country.view_cities%>
          <p><%= city.name %></p>

        <% end %>
      </div>
  </div>
  <% end %>
</div>
