<form action="/countries" method="POST">
  <label for="name">Name:</label>
  <input required type="text" name="name">

  <label>Select the continent:</label>
    <select name="continent_id" id="continent-id">
        <option selected disabled value="">Please select a continent</option>
      <% for continent in @continents %>
        <option required value="<%= continent.id %>"><%= continent.name %></option>
      <% end %>
    </select>

  <button type="submit" value="Add Country">Add Country</button>
</form>
