.container{
  display: flex;
}

.home_header {
  background-image: url('./images/mountian_lake_landscape.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.ybl_header{
  color: #ffffff;
  weight: 20px;
  font-size: 50px;
  text-align: center;
  border-color: #000000;
  text-shadow: #000000;
}
