<a class="button" href="/attractions/new">Add Attractions</a>


<% attractions = @city.view_attractions %>
<% for attraction in attractions %>
<p><a href="/attractions/<%= attraction.id %>"><%= attraction.name %></a> </p>
<% end %>
