<a href="/cities/new">Add City</a>
<% for city in @cities %>
<div>
  <h1><a href="/cities/<%= city.id %>"><%= city.name %></a></h1>
  <h3>Visited?</h3>
    <% if city.visit === "t" %>
    <p> DONE </p>
    <% elsif city.visit === "f"  %>
    <p> To Do</p>
    <% end %>
    <h3><a href="/cities/<%= city.id %>/attractions">Attractions</a></h3>

</div>
<% end %>
