<form action="/cities" method="POST">
  <label for="name">Name:</label>
  <input required type="text" name="name">

  <label>Select the country:</label>
    <select name="country_id" id="country-id">
        <option selected disabled value="">Please select a country</option>
      <% for country in @country %>
        <option required value="<%= country.id %>"><%= country.name %></option>
      <% end %>
    </select>

  <button type="submit" value="Add City">Add Country</button>
</form>
