<div>
  <h2><%= @city.name %></h2>
  <a href="/cities/new">Edit</a>
</div>
<a href="/cities/new">Edit</a>

<div>
  <form action="/cities/<%= @city.id %>/delete" method="POST">
  <button type="submit" delete ="delete">Delete</button>
  </form>
  <a class="button" href="/cities/<%= @city.id %>/edit">Edit</a>
</div>

<ul>
  <% for attraction in @city.view_attractions() %>
  <li> <%=attraction.name%> </li>
  <% end %>
</ul>
